*{
    padding: 2px;
    font-family: sans-serif;
    background-color: #ffffff;
}
.first-div{
    display: flex;
    padding-block: 5px;
    justify-content: space-between;
    /* border-bottom: 1px solid grey; */
}

.navbar-id{
    display: flex;justify-content: space-evenly;align-items: center;color: #585858;
}
.navbar-ids{
    margin-right: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #585858
}
.bgc-img{
    width: 100%;
    position:relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
